body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.inline_block {
    display: inline-block;
}
.align_Middle {
    vertical-align: middle;
}
.topGapFromNav{
    margin-top:20px;
}
.ListOfUsers{
    border:1px solid #b7b7b7;
    
}
.EachUser{
    border-bottom:1px solid #b7b7b7;
    padding:10px 20px;
}
.inlineBlock{
    display:inline-block;
    vertical-align:middle;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.EachUser .left{
    width:90%;
}
.infoImg{
    margin-top:10px;
    width:25px;
}
.progress{
    height:30px;
    background:#fff;
    border:1px solid #b7b7b7;
    box-shadow:none;
    border-radius:13px;
}
.progress-bar{
    box-shadow:none;
    background:#70509D;
}
.BolderText{
    font-weight:bold;
}
.HeaderOfDetails{
    margin:10px 0;
    color:#0183d7;
    font-weight:bold;
    text-decoration:underline;
}
.tabel.borderLess > tbody > tr > td:first-child{
    font-weight:bold;
}
.tabel.borderLess > tbody > tr > td{
    border:none;
    padding:10px 20px;
    padding-left:0px;
}
.Bg_Highlight{
    background:#D1E9F8;
}
accordion-section{
    display:block;
    margin-bottom:10px;
    border:1px solid #b7b7b7;
}
.headerOfAccordion{
    padding:5px;
    background:#f5f5f5;
}
.headerOfAccordion:hover{
   cursor:pointer;
}
.ContentOfAccordion{
    border-top:1px solid #b7b7b7;
    padding:15px;
    height:auto;
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

.FixedSearchSectionInAdmminLst {
    background: #5a5a5a;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.SearchBarAdminlist {
    width: calc(100% - 50px);
}

.filterIMGDiv {
    width: 26px;
    margin: 0px 10px;
}

.SearchBarAdminlist > input[type="search"] {
    width: 100%;
}

.serachFilterImg {
    width: 26px;
}

.AdminListSearch {
    background-image: url('images/SearchBar.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 16px 16px;
}

    .AdminListSearch:focus {
        background-image: none;
    }

.AllAdminLists {
    border: 1px solid #F1F1F1;
    border-top: 0;
}

.panel {
    margin: 0px;
    border: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.adminlist-group {
    padding-top: 60px;
}

.panel-group.adminlist-group .panel + .panel {
    margin-top: 0px;
}

.adminlist-group .panel-heading {
    padding: 0;
    background: transparent;
    border: 1px solid #f9f9f9;
    position: relative;
}

.adminlist-group .panel:last-child .panel-heading {
    border-bottom: 0px;
}

.CustomAnchor:hover, .CustomAnchor:focus {
    text-decoration: none;
}

.adminlist-group .panel-heading > a {
    padding: 5px 10px;
    display: block;
    background: transparent;
    color: #999999;
}

.adminlist-group .panel-heading:hover > a {
    background: #F2F2F2;
    text-decoration: none;
}

.adminlist-group .panel-heading > a[aria-expanded="true"] {
    background: #F2F2F2;
    color: #4F4F4F;
}

.adminlist-group .panel-body {
    padding: 0 2px;
}

.usersCount {
    position: absolute;
    right: 25px;
    top: 5px;
    background: #0183d7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.RequestHeadText {
    border-color: #0183d7;
    color: #0183d7;
    border-width: 1px 0px;
    border-style: solid;
    padding: 5px 0;
}

.leftPaddToTabel {
    margin-left: 10%;
}

.listOfUserRequests {
    padding: 20px 0;
}

.FixedTable {
    width: 100%;
}

    .FixedTable tr td {
        padding-bottom: 5px;
    }

        .FixedTable tr td:first-child {
            width: 10%;
        }

        .FixedTable tr td:last-child {
            width: 40%;
            text-align: right;
            padding-right: 10px;
            padding-bottom: 0px;
        }

.Accept {
    color: #57B947;
}

.deny {
    color: #C22B2B;
}

.headerOfUserUpdates {
    border-color: #0183d7;
    color: #0183d7;
    border-width: 1px 0px;
    border-style: solid;
    height: 34px;
}

    .headerOfUserUpdates .left {
        padding: 5px 0;
        width: 70%;
        padding-left: 10%;
    }

    .headerOfUserUpdates .right {
        width: 30%;
        background: #0183d7;
        height: 100%;
        color: #fff;
        padding: 5px 0;
        text-align: center;
    }

.ActionButtonsSection {
    margin: 10px 0 20px;
}

.UserActivitySection {
    margin-top: 10px;
    margin-left: 2.98%;
    margin-bottom: 10px;
}

.eachUserAct {
    padding-bottom: 5px;
}

.stausIMG {
    width: 22px;
    height: 18px;
}
.dropbtn {
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #b7b7b7;
    cursor: pointer;
    height: 38px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.DropdownImgInRoleSelect {
    /*position:absolute;
    right:5px;
    top:10px;*/
    float: right;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list {
    cursor: pointer;
}

.dropdown-content > div {
    color: black;
    padding: 12px 16px;
}

.dropdown .list:hover {
    background-color: #f1f1f1;
}