<!DOCTYPE html>
<html>
<head>
    <title>Aurelia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
</head>
<body aurelia-app>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      SystemJS.import('aurelia-bootstrapper');
    </script>
    @Scripts.Render("~/Scripts/vendor.js")
</body>
</html>
